/*CSS for typography*/
@font-face {
    font-family: myFirstFont;
    src: url(fonts/Madimi_One/madimi.ttf);
}

.bold {
    font-weight: bold;
}


.heading-font {
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    color: #363232;
    margin: 0;
    align-items: flex-end;
   
    
}

.subtitle-font {
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight:lighter;
    font-style: italic;
    color: #363232;
    margin: 0;
    align-items: flex-end;
    
}
    
a:link {
    text-decoration: none
}
    


.body-text{
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height:1.5;
    color: #363232;
    text-align: center;
}


.fine-text{
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    color: grey;
    line-height:1.15;
    }

.details-text{
    margin-top: 100px;
    margin-bottom: 5px;
    color: #363232;
}

.title-font{
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color:#363232;
    margin:0;
    box-sizing: border-box;
    padding:0;
}

.product-title {
    font-family: myFirstFont, Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    justify-content: center ;
    align-items: center;
    color: #363232;
    text-align: center;
    font-weight: bold;
   
}
    
a:link {
    text-decoration: none
}
    


/* Tablet size layout*/


@media (max-width: 1100px) {
    
    .heading-font {
        font-size: 2rem;
    }

    .text-btn {
        font-size: 0.8rem;
    }

    
    
    .body-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        line-height:1.5;
    }
    
    
    .fine-text{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.7rem;
        color: grey;
        line-height:1.15;
        }
    
    .subtitle-font{
        font-size: 1.25rem;
        font-weight:lighter;
        font-style: italic;
        color: #363232;

    }

}

/*mobile sized layout*/

@media (max-width: 750px) {

    .heading-font {
        font-size: 1.5rem;
    }

    .subtitle-font {
        font-size: 0.75rem;
    }
}


@media (max-width: 900px) {
    .title-font{
        font-size: 2rem;
    }
    
}

@media (max-width: 400px) {
    .title-font{
        font-size: 1.5rem;
    }
    
}