
.body {
    background-color: #5698d1;
}
/*creates 2 column grid structure, photo and info side-by-side*/
.grid { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*border: 2px solid #ffc0cb;*/
    margin-bottom: auto;
    align-items: self-end;
    padding-top: 3%;
}

a {
    text-decoration: none; 
    color: inherit;
  }


.column-aligned{
    margin-left: 10rem;
    /*border: 2px solid red;*/
    max-height: 100%;

}

.class-image-container-container{
  
    /*border: 2px solid yellow;*/
    max-height: 100%;
    padding-left: 10rem;
    margin-right: 10rem;
    align-items: self-end;
    
   
}
.class-photo{
    align-content: center;
    max-width: 100%;
    max-height: 100%;
    
}

.subtitle-container{
    padding-top: 1em;
   /* border: 2px orange;*/
   
    
}

.heading-container{
    padding-top: 75%;
    
}

.description-container{
    display: grid;
    /*border: 2px solid #ffc0cb;*/
    margin-bottom: auto;
    padding-top: 30%;
    padding-bottom: 30%;
    margin-left: 10em;
    margin-right: 10em;

    
}

.page-grid{
    padding-top: 30%;
    
}



/* Tablet size layout*/

@media (max-width: 1100px) {

    .column-aligned{
        margin-left: 5rem;
    }

    .pic-description{
        margin: 4rem 8rem 2rem 8rem;
    }

    .pic-information{
        margin-left: 4rem;
        padding-left: 2rem;
        margin-right: 4rem;
        padding-top: 2rem;
        margin-bottom: 3rem;
    }x

    .class-image-container-container{
        margin-top: 2rem;
        width: 25rem;
        height: auto;
    }

    .pic-options{
        padding: 1rem 2rem 1rem 2rem;
        margin-bottom: 1rem;
    }

    .subtitle-font{
        padding-top:1rem;
        padding-bottom:2rem;
    }

    .item-subtitle{
        padding-bottom: 1rem;
    }

    .option-description{
        display: none;
    }

}


/*mobile sized layout*/
@media (max-width: 750px) {

    .grid{
        display: block;
    }

    .column-aligned{
        margin-left: 1rem;      
    }

    .column-centre{
        margin-left: 1rem;      
    }


    .back-page{
        display:none;
    }

    .fine-text{
        padding-bottom:0.5rem;
    }

    .pic-options{
        display: none;
    }

    .pic-description{
        margin: 3rem 2rem 2rem 3rem;
    }

    .pic-information{
        margin-left: 3rem;
        padding-left: 1rem;
        margin-right: 2rem;
        padding-top: 2rem;
        margin-bottom: 1rem;
    }

    .dimension-image{
        display: none;
    }

    .list-info{
        padding-bottom: 2rem;
    }

}






/*

.big-container {
    padding-top: 41px;
}

#container {
height: 90vh;
width: 90vw;
margin: 0 auto;
display: flex;
flex-direction: row;
border: 2px solid blue;
object-fit: contain;
overflow: hidden;
padding-left: 10%;
padding-right: 10%;
}

.img-container img{
max-width: 100%;
max-height: auto;
object-fit: contain;
justify-content: center;

}

.left-inner {
display: flex;
flex-wrap: wrap;
height: 100%;
width: 50%;
border: solid blue;
border-width: 0px 2px 0px 0px;
object-fit: contain;

}
.child {
height: 1fr;
width: 100%;
border-top: 2px solid blue;
}